name: Tox tests

on: [push, pull_request]

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.10"
            toxenv: py310-django50-cms50
          - python-version: "3.11"
            toxenv: py311-django51-cms50
          - python-version: "3.12"
            toxenv: py312-django52-cms50
          - python-version: "3.13"
            toxenv: py313-django52-cms50
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.toxenv }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ matrix.toxenv }}
    - name: Cache tox
      uses: actions/cache@v3
      with:
        path: .tox
        key: ${{ runner.os }}-tox-${{ matrix.toxenv }}-${{ hashFiles('setup.cfg') }}
        restore-keys: |
          ${{ runner.os }}-tox-${{ matrix.toxenv }}-
    - name: Install dependencies
      run: |
        sudo apt-get update -o Acquire::Retries=3
        sudo apt-get install -y --no-install-recommends gettext libcairo2-dev pkg-config python3-dev
        python -m pip install --upgrade pip setuptools "tox>4"
    - name: Test with tox
      env:
        TOX_ENV: ${{ matrix.toxenv }}
        COMMAND: coverage run
        COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_SERVICE_NAME: github
      run: |
        tox -e$TOX_ENV
        .tox/$TOX_ENV/bin/coverage xml
    - name: Coveralls Parallel
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel: true
    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        files: ./coverage.xml
        fail_ci_if_error: false
  finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
